<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.mapper.BooksMapper">

	<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"></cache>
	
	<insert id="saveBook" parameterType="Books" useGeneratedKeys="true" keyProperty="bid">
		insert into books(title,cid,author,isbn,price,descpription,pdfs) 
		values(#{title},#{category.cid},#{author},#{isbn},#{price},#{descpription},#{pdfs})
	</insert>
	
	<!-- xxx -->
	<update id="updateBook" parameterType="Books" >
		update books set 
		author=#{author},isbn=#{isbn},price=#{price},title=#{title},
		cid=#{category.cid},descpription=#{descpription}
		<if test="pdfs!=''">
			,pdfs=#{pdfs}
		</if>
		where bid=#{bid}
	</update>
	
	<select id="getAllBooks" resultType="Books" resultMap="BookResultMap">
		select bid,author,title,books.cid,isbn,price,category.cname,descpription,pdfs
		from books
		inner join category
		on category.cid=books.cid
	</select>
	
	<select id="getBooksByCategory" resultType="Books" resultMap="BookResultMap" parameterType="Books">
		select bid,author,title,books.cid,isbn,price,category.cname,descpription,pdfs
		from books
		inner join category
		on category.cid=books.cid
		where books.cid=#{category.cid}
	</select>
	
	<select id="getBook" resultType="Books" parameterType="Books" resultMap="BookResultMap">
		select bid,author,title,price,isbn,books.cid,cname,descpription,pdfs
		from books
		inner join category
		on category.cid=books.cid
		where bid=#{bid}
	</select>
	
	<resultMap type="Books" id="BookResultMap">
		<id property="bid" column="bid"/>
		<result property="author" column="author"/>
		<result property="isbn" column="isbn"/>
		<result property="title" column="title"/>
		<result property="price" column="price"/>
		<result property="pdfs" column="pdfs"/>
		<result property="descpription" column="descpription"/>
		<association property="category" javaType="Category">
			<id property="cid" column="cid"/>
			<result property="cname" column="cname"/>
		</association>
	</resultMap>
	
	
	


</mapper>
